@font-face {
    font-family: Nordic;
    src: url(fonts/Norse-Bold.otf);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.left-section {
    background-image: url(imgs/halie-west-25xggax4bSA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    padding-top: 11vh;
}

.logo {
    text-align: center;
    
}

.logo img {
    max-width: 5vw;
}

.logo p {
    background-color: rgba(27, 27, 27, 0.668);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Nordic;
    font-size: 6vw;
    padding: 0 10vw;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 10vw;
    
}

.right-section {
    background-color: #F9FAFB;
    display: flex;
    flex-direction: column;
    padding: 2vh 0 5vh 2vw;
    width: 100%;
}

.upper p {
    font-weight: bolder;
    font-size: 1.8rem;
    padding-right: 10vw;
    padding-top: 2vh;
}

.text {
    font-weight: bolder;
    font-size: 1.8rem;
    padding-right: 10vw;
    padding-bottom: 4vh;
}

.middle {
    background-color: #FFF;
    width: 100%;
    box-shadow: 0px 15px 10px -15px #111; 
}

h4 {
    font-size: 1.9rem;
}

.inside {
    display: flex;
    flex-wrap: wrap;
    padding-right: 10vw;
}

span p {
    margin: 0;
    font-weight: 600;
    padding-bottom: 3px;
}

span {
    padding: 0 5vw 4vh 0;
}

.bottom {
    padding-right: 10vw;
}

input {
    border-radius: 3px;
    width: 15vw;
    box-shadow: none;
    padding: 10px 5px;
}

input:placeholder-shown, input:focus  {
    box-shadow: none;
}

input:not(:required):invalid, input:required:invalid:not(:placeholder-shown){
    box-shadow: 0 0 1px 2px rgb(250, 0, 0);
}

button {
    background-color: #596D48;
    color: #FFF;
    font-weight: bold;
    padding: 12px 50px;
    font-size: 1.2rem;
    border-radius: 8%;
    margin-top: 2vh;
}

#message {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: absolute;
    padding: 10px;
    margin-top: 5px;
    box-shadow: 0px 0px 5px 1px black;
}

#message p {
padding: 10px 0 10px 35px;
font-size: 18px;
}

.valid {
color: green;
}

.valid:before {
position: relative;
left: -35px;
content: "✅";
}

.invalid {
color: red;
}

.invalid:before {
position: relative;
left: -35px;
content: "X";
}

.hidden {
    display: none; 
}

.show {
    display: block;
    margin-top: 2px;
    color: red;
}